@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black font-poppins antialiased overflow-x-hidden;
  }

  /* Centralized Heading Fonts Configuration (Bebas Neue, Normal Spacing) */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bebas uppercase tracking-wide;
  }
}

p {
  @apply font-poppins;
}

/* Vertical line for the branding section */
.vertical-line {
  @apply w-[1px] h-48 bg-orange-200 hidden lg:block mx-12;
}

.animate-scroll {
  animation: scroll 60s linear infinite;
}

.animate-scroll-reverse {
  animation: scroll-reverse 60s linear infinite;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes scroll-reverse {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}